<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="./dashboard.css" rel="stylesheet">
    <title>Accounts BN 0.0.1</title>
  </head>
  

  <body>
    <div class="sidebar">
      <a href="/">Home page</a>
      <a href="/online">Online computers</a>
      <a href="/accounts" class="active">Accounts</a>
      <a href="/scripts">Scripts</a>
      <a href="/manage">Management</a>
    </div>
    
    <div class="content">
        <h1>Accounts</h1>   <h1 title="green means in use, blue means not in use, red means account failed login on one or more of the clients.">(?)</h1>
    </div>

    <div class="content">
      <div class="box">
        <p>An email account</p>
        <small>Last used: Now</small>
      </div>
      <div class="box">
        <p>An email account</p>
        <small>Last used: Now</small>
      </div>
      <div class="box">
        <p>An email account</p>
        <small>Last used: Now</small>
      </div>
      <div class="box">
        <p>An email account</p>
        <small>Last used: Now</small>
      </div>
    </div>
</html>
