<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="./universal.css" rel="stylesheet">
    <title>Homepage BN 0.0.1</title>
  </head>
  

  <body>
    <div class="sidebar">
      <a href="/online">Online computers</a>
      <a href="/accounts">Accounts</a>
      <a href="/scripts">Scripts</a>
    </div>
    
    <div class="content">
      <br>
      <h1>Logged in!</h1>
      <br>
      <p>Choose one of the sidebar options to begin</p>
    </div>
  </body>
</html>
