<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <title>AEC</title>
    <!-- HTML Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Egg clicker where you click eggs. Revolutionary.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Average Egg Clicker">
    <meta itemprop="description" content="Egg clicker where you click eggs. Revolutionary">
    <meta itemprop="image" content="http://www.polyjam.win/assets/thumb.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.polyjam.win/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Average Egg Clicker">
    <meta property="og:description" content="Egg clicker where you click eggs. Revolutionary.">
    <meta property="og:image" content="http://www.polyjam.win/assets/thumb.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Average Egg Clicker">
    <meta name="twitter:description" content="Egg clicker where you click eggs. Revolutionary">
    <!-- <meta name="twitter:image" content="http://www.polyjam.win/assets/thumb.png"> -->

    <link href="./assets/universal.css" rel="stylesheet">
  </head>
  
  <body>
    <nav>
      <div class="logo-container">
        <img class="myProfileImg" src="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥚</text></svg>">
        <h2>Average egg clicker</h2>
      </div>
      <a style="text-decoration: underline;" href="/leaderboards">Open leaderboard<a>
      <button id="navBtn" class="btn">Sign in</button>
    </nav>
    
    <section>
      <main>
        <div style="text-align: center; margin-bottom: 100px;">
          <h1>What is this?</h1>
          <hr>
          <p>
            This is a simple clicker game, you can view the source code <a href="https://github.com/777Portal/Polyjam2024">here</a>
            <br>
            I made this game originally for a multi media jam that lasted 2 weeks. I've since been updating it to improve my skills, so feel free to play.
          </p>
        </div>

        <img src="" style="margin-bottom: 100px;">

        <div class="card" style="float: right; margin-bottom: 100px;">
          <h1> Info </h1>
          <hr>
          <p>
            As of now, you can only play if you authenticate through discord. I did this because i wanted to have <a href="/leaderboards">a leaderboard</a> (don't worry, you don't need to sign in to view the leaderboard :P ).
          </p>  
          <p>
            Im working on making a local version, ( all the calculations are handled server side ) but as of now its not a top priority.
          </p>
        </div>

                        <div style="text-align: center; margin-bottom: 100px;">
          <h3>Who am i?</h3>
          <small>
            My names exon. If you want to know more about me <a style="color: white;" href="https://exonauto.me/" >check out my website!</a>
          </small>
        </div>
        
        <div style="text-align: center;">
          <h1> Sign up / log in </h1>
          <button id="bottomBtn" class="btn">Sign up</button>
        </div>

      </main>
    </section>
  </body>
</html>