<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="./dashboard.css" rel="stylesheet">
    <title>CM BN 0.0.1</title>
  </head>
  

  <body>
    <div class="sidebar">
      <a href="/">Home page</a>
      <a href="/online" class="active">Online computers</a>
      <a href="/accounts">Accounts</a>
      <a href="/scripts">Scripts</a>
      <a href="/manage">Management</a>
    </div>
    
    <div class="content">
        <h1>Computers</h1> <h1 title="green means in use, blue means not in use, red means account failed to respond.">(?)</h1>
    </div>

    <div class="content">
      <div class="box">
        <p>Computer (id #1231982831)</p>
        <small>Last message: Now</small>
        <br>
        <small>Last used: Now</small>
        <br>
        <small>ram usage: (400mb/8000mb)</small>
        <br>
        <small>cpu usage: 20%</small>
        <br>
        <small>emails</small>
        <tiny title="someemailadress@notyouraveragegrandma.com">(1)</tiny> <tiny title="someemailadress@femboy.observer">(2)</tiny>
      </div>
    </div>
</html>
