<body>
  <nav>
    <div class="logo-container">
      <img class="myProfileImg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==
      ">
      <h2>AEC</h2>
      <p id="username"> Logged in as [</p>
    </div>
    <div class="logout-container" id="balTopBar">
      <p>eggs: </p>
    </div>
    <div class="logout-container">
      <a href="/logout">Logout</a>
    </div>
  </nav>
  
  <section>
  
    <aside>
      <a href="/home" id="home"> Home </a>
      <a href="/shop" id="shop"> Shop </a>
      <a href="/@self" class="active" id="profile"> My profile </a>
      <a href="/leaderboards" id="leaderboards">Leaderboard</a>
      <a href="https://exonauto.me" id="credits">Credits</a>
    </aside>
  
    <main id="main" style="text-align: center;">
      <div class="rounded card">
        <img class="round" style="float: left;" id="profileImg" src="https://cdn.discordapp.com/avatars/597834190607876106/12d7f97cf1b5efca02fe2d7e212521ca" style="max-width: 256px; max-height: 256px;">
      </div>
      
      <h1 id="username"> username </h1>
      
      <small id="joindate"> ( joined: joindate ) </small>
      
      <br>
      
      <p id="currentEggs"> currentEggs: </p>
      
      <p id="totalEggs"> allEggs: </p>
      
      <br>
      
      <p>Eggs: </p>
      
      <div class="container" style="text-align: center;" >
        <!-- <div class="item" style="max-width: 100px; max-height: 100px;">
          <p>Eggs</p>
        </div> -->
      </div>
    </main>
  </section>
  </body>
  
  <script src="/assets/profile.js"></script>
</html>