  <body>
  <nav>
    <div class="logo-container">
      <h2>Eggstronomical Clicker</h2>
    </div>
  </nav>
  
  <section>
  
    <aside>
      <a href="/"> Home </a>
      <br>
      <br>
      <a href="/shop"> Shop </a>
      <br>
      <br>
      <a href="/@self" class="active"> My profile </a>
      <br> 
      <br> 
      <a href="/leaderboards">Leaderboard</a>
      <br>
      <br>
      <a href="Https://ExonAuto.me">Credits</a>
    </aside>
  
    <main id="main" style="text-align: center;">
      
      <h1 id="username"> username </h1>
      
      <small id="joindate"> ( joined: joindate ) </small>
      
      <br>
      
      <img id="profileImg" style="max-width: 256px; max-height: 256px;">
      
      <br>
      
      <p id="currentEggs"> currentEggs: </p>
      
      <p id="totalEggs"> allEggs: </p>
      
      <br>
      
      <p>Eggs: </p>
      
      <div class="container" style="text-align: center;" >
        <!-- <div class="item" style="max-width: 100px; max-height: 100px;">
          <p>Eggs</p>
        </div> -->
      </div>
    </main>
  </section>
  </body>
  
  <script src="/assets/profile.js"></script>
</html>