<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"> -->
    <title>Eggstronomical Clicker</title>
    <!-- HTML Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ExonAuto's submission to the 2024 polyjam.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Eggstronomical Clicker">
    <meta itemprop="description" content="ExonAuto's submission to the 2024 polyjam">
    <meta itemprop="image" content="http://polyjam.win/assets/thumb.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://polyjam.win/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Eggstronomical Clicker">
    <meta property="og:description" content="ExonAuto's submission to the 2024 polyjam.">
    <meta property="og:image" content="http://polyjam.win/assets/thumb.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Eggstronomical Clicker">
    <meta name="twitter:description" content="ExonAuto's submission to the 2024 polyjam">
    <meta name="twitter:image" content="http://polyjam.win/assets/thumb.png">

    <link href="./assets/dashboard.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐰</text></svg>">
    <title>Eggstronomical Clicker</title>
  </head>
  
  <body>
    <nav>
      <div class="logo-container">
        <img class="myProfileImg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==
        ">
        <h2>Eggstronomical Clicker</h2>
        <p id="username"> Logged in as [</p>
      </div>
      <div class="logout-container" id="balTopBar">
        <p>eggs: </p>
      </div>
      <div class="logout-container">
        <a href="/logout">Logout</a>
      </div>
    </nav>
    
    <section>

      <aside>
        <a href="/">Home</a>
        <br>
        <br>
        <a href="/shop" class="active">Shop</a>
        <br>
        <br>
        <a href="/@self">My profile</a>
        <br> 
        <br> 
        <a href="/leaderboards">Leaderboard</a>
        <br>
        <br>
        <a href="Https://exonAuto.me"> Credits </a>
      </aside>

      <main>
        <div>
            <h1>Clicks</h1>
            <div id="clicker" class="container">

            </div>
        </div>
        <br>
        <div>
          <h1 title="exon auto reference!!*&!*@$&*(@!&#*(@!&#!))">Automation</h1>
          <div id="automation" class="container">
            
          </div>
        </div>
        <br>
        <div>
          <h1>Misc</h1>
          <div id="misc" class="container">
            
          </div>
        </div>


        
      </main>
    </section>
  </body>
  <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
  <script src="/assets/authed.js"></script>
  <script src="/assets/shop.js"></script>
<script>
</script>
</html>
