/* Reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, nav, section, aside, main, div, a, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e8d4; 
}

nav {
  background-color: #6ab04c;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  max-width: 45px;
  max-height: 45px; /* Corrected typo */
  border-radius: 50%;
}

nav img:hover{
  animation: rotate360 1s linear infinite;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px;
}

nav h2 {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Side items styles */
aside {
  background-color: #f7ddae;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside a {
  display: block;
  color: #654321;
  text-decoration: none;
  padding: 30px;
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: 25%;
}

aside a:hover {
  background-color: #ffe4b2; 
}

aside a.active {
  background-color: #c7b299;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  min-width: 200px; 
  min-height: 200px;
  background-color: #ccc; 
  margin: 5px; /* Adjust spacing between items */
}

.mainEggContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.egg {
  width: 350px;
  height: 400px;
  background: #fff;
  border-radius: 50%;
}

.shaker {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.superShaker {
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

.overlay{
  opacity: 0.85;
  background-color: #414141;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999;
  padding: 25px;
}

.card {
  backdrop-filter: blur(13px) saturate(180%);
  -webkit-backdrop-filter: blur(13px) saturate(180%);
  background-color: rgba(135, 206, 235, 0.45);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.rounded {
  border-radius: 25px;
  padding: 20px;
}

/* Responsive styles */
@media only screen and (min-width: 768px) {
  section {
    display: flex;
  }

  aside {
    flex: 0 0 15%;
  }

  main {
    flex: 1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes rotate360 {
  to { transform: rotate(360deg);}           
}
